<%= form_for @show do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :day %>
    <%= f.text_field :day %>
  </p>
  <p>
    <%= f.submit 'Update show' %>
  </p>
<% end %>